<p id="notice"><%= notice %></p>

<p>
  <strong>Name project:</strong>
  <%= @project.name_project %>
</p>

<%= link_to 'Edit', edit_admin_project_path(@project) %> |
<%= link_to 'Back', root_path %>
